* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, black, #4a4a4a);
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  width: 100%;
  padding: 0;
}

a {
  color: #2CCC5C;
  text-decoration: none;
}

.header {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.header .header-logo img {
  max-width: 25%;
}
.header .topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header h1 {
  color: #ff8c00;
  margin: 0;
  font-size: 2rem;
}
.header p {
  margin: 5px 0;
  color: #cccccc;
}

main {
  display: flex;
  min-height: 100vh;
}
main .sidebar {
  width: 20%;
  background-color: #ff8c00;
  padding: 20px;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  min-height: 100vh;
}
main .sidebar .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .sidebar .nav-list .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #393939;
  font-size: 1rem;
  text-align: start;
  transition: all 0.3s ease;
}
main .sidebar .nav-list .nav-item .nav-link:hover {
  background-color: #ff6f00;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main .sidebar .nav-list .nav-item.dropdown {
  position: relative;
}
main .sidebar .nav-list .nav-item.dropdown a {
  justify-content: space-between;
}
main .sidebar .nav-list .nav-item.dropdown ul {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #393939;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
main .sidebar .nav-list .nav-item.dropdown ul li a {
  padding: 8px 10px;
  font-size: 0.9rem;
}
main .sidebar .nav-list .nav-item.dropdown ul li a:hover {
  background-color: #ff6f00;
}
main .sidebar .nav-list .nav-item.dropdown:hover ul {
  display: flex;
}
main .product-container {
  flex: 1; /* Zorgt ervoor dat de content de resterende ruimte inneemt */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 0 1em 1em 0; /* Ronde hoeken rechtsboven en rechtsonder */
  background: linear-gradient(135deg, #3a3a3a, #444444);
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.5); /* Schaduw naar links */
}
main .product-management-table tr {
  padding: 0.5em;
}
main .product-management-table td {
  padding: 0.5em;
}
main .product-management-table .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
main .product-management-table .product-grid .product-card {
  background: linear-gradient(135deg, #3a3a3a, #444444);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
main .product-management-table .product-grid .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}
main .product-management-table .product-grid .product-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
main .product-management-table .product-grid .product-card h3 {
  margin: 10px 0;
  color: #ff8c00;
  font-size: 1.2rem;
}
main .product-management-table .product-grid .product-card p {
  margin: 5px 0;
  color: #dcdcdc;
  font-size: 0.9rem;
}
main .product-management-table .product-grid .product-card button {
  background-color: #32cd32;
  border: none;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
main .product-management-table .product-grid .product-card button:hover {
  background-color: #28a828;
  transform: scale(1.05);
}

form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}
form h1 {
  font-size: 1.5rem;
  color: #2CCC5C;
  text-align: center;
  margin-bottom: 1rem;
}
form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333333;
}
form input[type=text],
form textarea,
form input[type=file] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  font-size: 1rem;
}
form input[type=text]:focus,
form textarea:focus,
form input[type=file]:focus {
  border-color: #2CCC5C;
  outline: none;
  background-color: #ffffff;
}
form textarea {
  resize: none;
}
form button {
  background-color: #2CCC5C;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}
form button:hover {
  background-color: #ff8c00;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form button:active {
  background-color: #e57900;
  transform: translateY(0);
}
form p.success {
  color: #2CCC5C;
  background: #eaffef;
  padding: 0.75rem;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
form p.error {
  color: #ff8c00;
  background: #fff5eb;
  padding: 0.75rem;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.radius-1 {
  border-radius: 1em;
}

/*# sourceMappingURL=main.css.map */
